//@import "/react-project/src/components/Colors_Fonts/Assets.module.scss";

$lightGray: #D5D6D2;
$darkGray: #353C3F;
$brown: #756867;
$orange: #FF8D3F;

$fontS: 14px;
$fontM: 20px;
$fontL: 30px;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid $brown;
    //border-bottom: 2px solid #756867;
    height: 10vh;
    color: $brown;
    //color: #756867;
    font-weight: bolder;
    font-size: $fontS;
}
    
.element {
    display: inline-block;
    margin: 20px;  
}

.leftBlock {
    width: 40vw;
}

.rightBlock {
    width: 30vw;
}

.quote {
    font-style: italic;
    font-weight: normal;
    width: 20vw;
    margin-top: -50px;
    margin-left: 60px;
}

.logoSvg {
width:10%;
padding-top: 5px;
}
