
@import './../Colors_Fonts/Assets.module.scss';

.footer {
    display: flex;
    flex-direction: row;
    background-color: $darkGray;
    height: 20vh;
    color: $orange;
    font-weight: bolder;
    font-size: $fontS;
}
    
.element {
    margin: 20px;
    width: 10%;
}

.logoSvg {
    width:60%;
    padding-top: 5px;
}

.png {
    width: 30%;
    margin: 10px;
}