@import './../Colors_Fonts/Assets.module.scss';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 20vh;
    color: $brown;
    font-weight: bolder;
    
}
    
.button {
    margin: 20px;
    width: 20vw;
    height: 10vh;
    background-color: $lightGray;
    border: 1px solid $lightGray;
    color: $orange;
    font-size: $fontM;
    font-weight: bolder;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 2vh;
    box-sizing: border-box;

    &:hover {
        color: $brown;
        border: 2px solid $brown;
    }

    &:focus {
        color: $orange;
        border: 2px solid $orange;
    }
}