@import './../Colors_Fonts/Assets.module.scss';

.button {
    background-color: $lightGray;
    border: 2px solid $brown;
    height: 40px;
    color: $orange;
    font-size: $fontM;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 20px;

    &:hover {
        color: $brown;
        
    }
}

.element {
    margin-top: 20px;
}