@import './../Colors_Fonts/Assets.module.scss';

.element {
    margin: 20px;
    width: 30%;
    height: 40vh;
    background-color: $lightGray;
    border-radius: 10px;
    text-align: center;
    padding-top: 10vh;
    box-sizing: border-box;
    font-size: $fontL;
    text-decoration: none;
    color: $brown;


    &:hover {
        border: 2px solid $orange;
        color: $darkGray;

    }

    &:active {
        background-color: $lightGray;
        color: $orange;
        border: 2px solid $orange;
        border: 2px solid #FF8D3F;
    }

}
